@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tellus nisl, dignissim rutrum convallis sed, molestie dapibus enim. Phasellus in porttitor arcu, ac semper velit. Nam eleifend mollis elit, id cursus neque vestibulum sit amet. Sed venenatis, magna a egestas aliquet, tortor diam aliquet felis, rhoncus interdum nisl augue at arcu. Nulla mi eros, auctor in metus eu, cursus commodo magna. Cras porta mauris neque. Sed sed nisl varius, interdum leo at, porta leo. Sed pellentesque sed metus non mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris interdum lorem sit amet augue eleifend pulvinar. Donec ut urna lorem. Proin finibus nisi mauris, ut auctor est porttitor id.</p>
