@{
    ViewBag.Title = "Home Page";
}

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Your Health, Guaranteed</h1>
                    <h3>Because those around you matter most.</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all benefits</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Compassion</h1>
                    <h3>One step toward confidence</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all benefits</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>You are amazing</h1>
                    <h3>Therefore you deserve the best.</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">See all benefits</button>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-md-4">
        <h2>Getting started is fast and easy</h2>
        <p>
            Please help us guide you in getting started to attain the care that you deserve.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The resources that you need</h2>
        <p>We offer a comprehensive list of resources to help you make the right decision.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Citrine sets the standard for quality</h2>
        <p>Our surveys have shown that our patients are more likely to be satisfied with out care.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<section>
    <div class="well">
        <div class="container text-center">
            <h3>Subscribe for more information and events</h3>
            <p>Enter your name and email</p>

            <form action="" class="form-inline">
                <div class="form-group">
                    <label for="subscription">Subscribe</label>
                    <input type="text" class="form-control" id="subscription" placeholder="Your name">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter your Email">
                </div>
                <button type="submit" class="btn btn-default">Subscribe</button>
                <hr>
            </form>


        </div>

    </div>
</section>



<!-- FAQ SECTION-->

<div class="container">
    <section>
        <div class="page-header" id="faq">
            <h2>FAQ.<small> Your Questions Answered.</small></h2>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                                What can I expect from my first home care visit?
                            </a>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas non urna in fringilla. Praesent consequat est at feugiat faucibus
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">
                                How often will my home health care visits be?
                            </a>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas non urna in fringilla.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion">
                                Who is eligible for home health care?
                            </a>
                        </div>
                        <div id="collapse-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas non urna in fringilla. Praesent consequat est at feugiat faucibus
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

