
@{
    ViewBag.Title = "How We Help";
}


<div class="container">
    <div class="page-header">
        <h1 class="text-center text-primary text-uppercase">How We Can Help</h1>
    </div>
    <div class="row grid-divider">
        <div class="col-sm-4">
            <div class="col-padding">
                <h3>Home Health Care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-padding">
                <h3>Assisted Living</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-padding">
                <h3>Home Visits</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis.</p>
            </div>
        </div>
    </div>

</div>
