
@{
    ViewBag.Title = "Our Team";
}

<h2>Our Team</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tellus nisl, dignissim rutrum convallis sed, molestie dapibus enim. Phasellus in porttitor arcu, ac semper velit. Nam eleifend mollis elit, id cursus neque vestibulum sit amet. Sed venenatis, magna a egestas aliquet, tortor diam aliquet felis, rhoncus interdum nisl augue at arcu. Nulla mi eros, auctor in metus eu, cursus commodo magna. Cras porta mauris neque. Sed sed nisl varius, interdum leo at, porta leo. Sed pellentesque sed metus non mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris interdum lorem sit amet augue eleifend pulvinar. Donec ut urna lorem. Proin finibus nisi mauris, ut auctor est porttitor id.</p>

<div class="container">
    <section>
        <div class="page-header" id="features">
            <h2>Our team is dedicated to giving you the care that you need.</h2>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h3>Dr. Jona Doe</h3>
                <p> Many years experience</p>
            </div>
            <div class="col-sm-4">
                <img src="~/fonts/Images/444bigstock-Beautiful-mature-doctor-woman--76829420.jpg" class="img-responsive" alt="image" width="304" height="236">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3>Lauren McCoy, NP</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris tortor, eleifend odio mattis, venenatis lacus vel, faucibus elit</p>
            </div>
            <div class="col-sm-4">
                <img src="~/fonts/Images/444bigstock-Beautiful-nurse-portrait-78996076.jpg" alt="image" width="304" height="236">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3>Jai Septem, NP-RPC</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris tortor, eleifend sit amet, faucibus elit</p>
            </div>
            <div class="col-sm-4">
                <img src="~/fonts/Images/444bigstock-Confident-Healthcare-Professio-68243854.jpg" class="img-responsive" alt="image" width="304" height="236">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star"></span>
                        <h4>Commitment</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star"></span>
                        <h4>Dedication</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star"></span>
                        <h4>Compassion</h4>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>